/* Global ----------*/
* {
	box-sizing: border-box;
}

img.thumbs {
	width: 100%;
	height: auto;
	margin-bottom: 25px;
}

body {
	background-color: #eaeaea;
	min-height: 1200px;
}

ul#gallery-list {
	padding: 0;
	margin: 0;
}

ul#gallery-list li {
	list-style: none;
}

/* Clearfix ----------*/
.clearfix::after {
	display: table;
	content: '';
	clear: both;
}

/* Header ----------*/
header {
	position: relative;
}

#search-box {
	width: 100%;
	max-width: inherit;
	position: fixed;
	height: 80px;
	background-color: #fff;
	top: 0;
	z-index: 999;
}

/* Layout ----------*/
#main-container {
	margin-top: 80px;
	min-height: 600px;
	background-color: #fff;
	padding-top: 20px;
}

.main-wrapper {
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

/* Search Box ----------*/
header input {
	width: 96%;
	max-width: 460px;
	font-size: 16px;
	border: 2px solid #e5e5e5;
	border-radius: 5px;
	padding: 6px 12px;
	margin: 20px auto;
	display: block;
	outline: none;

}

/* Columns ----------*/
.col_4 {
	margin: 0 2%;

}

/*********** Media Queries  **********/
@media screen and (min-width: 768px) {
	/* Layout ----------*/
	.col_4 {
		width: 46%;
		float: left;
	}

}

@media screen and (min-width: 980px) {
	/* Layout ----------*/
	.col_4 {
		width: 21%;
		float: left;
	}
}

